<div class="modal-overlay"></div>
<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span>{{ title }}</span>
      <i (click)="close.emit()" class="fa-regular fa-circle-xmark fa-xl"></i>
    </div>
    <div class="modal-body">
        <input type="text" placeholder="Escribe aquí el título del menú" [(ngModel)]="name">
    </div>
    <div class="modal-footer">
      <div >
        <button (click)="submitName()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
